*{
    padding: 0px;
    margin:0px;
}


.outer{
    width:700px;
    height:800px;

    margin:0px auto;
}
.outer h1{
    text-align: center;
}
p{
    font-size: 20px;
}
.outer h2{
    font-size: 20px;
}
.edu h3{
    font-size: 20px;
}
.skill h4{
    font-size: 20px;
}